#app {
  position: static;
  margin: 0px;
  padding: 0px;  
}

.content {
  position: static;
  padding-left: 10px;
  padding-right: 10px;
  background: #dae0e6;
  color: rgb(80, 80, 80);
  display: block;
  justify-content: flex-start;
  border-bottom: 5px solid #8f9fa1;
}

.content__p {
  color: rgb(80, 80, 80);
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.list-element__controls_button {
  color: white;
  opacity: 0.7;
  border: none;
  background-color: #5a7086;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}

.list-element__controls_button:hover {
  background-color: #eee;
  color: #111;
}
